<div class="form-container-input">
<%= form_for(Post.new, :html => {:multipart => true}) do |f| %>

<%= f.hidden_field :user_id, :value => @current_user.id %>
  <%= f.label :content  %>
  <%= f.text_field :content %>
  <%= f.label :image %>
  <%= f.cl_image_upload :image %>
  <%= f.submit %>

<% end %>
</div>
