

<!-- ALL posts -->
<p><%= render "shared/user_info" %></p>
<section class="stats">
       <%= render 'shared/stats' %>
</section>




<p><%= render 'posts/form' %></p>



<% @posts.each do |post| %>

  <div class="card" style="width: 24rem">
    <% if post.image.present? %>
      <%= cl_image_tag(post.image, :class => "card-img-top")%>
    <% end %>
    <div class="food">
      
      <% if post.user.image.present? %>
        <div class="small-circle-img">
         <%= image_tag post.user.image %>
        </div>
      <% end  %>

      <div class="">
        <h5 class="card-title"><%= link_to(post.content, "/posts/#{post.id}" )%></h5>
        <p><%= link_to post.user.name, user_path(post.user.id)%></p>
      </div>


    </div>
  </div>

<% end %>
