

<ul>
  <li>Title: <%= @post.title %></li>
  <li>Content: <%= @post.content %></li>
  <li> <%= @post.image %></li>

</ul>

<%= link_to("Edit", "/posts/#{@post.id}/edit") %>
<%= link_to("Delete", "/posts/#{@post.id}/destroy", {method:"post"}) %>
