<!DOCTYPE html>
<html>
  <head>
    <title>Project1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">


  </head>
  <header>
    <body>
    <div class="header-logo">
      Recipeet!
    </div>
    <ul class="header-menus">
      <li><%= link_to("Home","/") %></li>
      <li><%= link_to("About","/about") %></li>
      <li><%= link_to("Log in","/login") %></li>
      <li><%= link_to("Sign up!","/pages/signup") %></li>
      <li><%= link_to("Recipeet!","/posts/new") %></li>


    </ul>
  </header>
    </body>

  <%= yield %>
</html>
