<!DOCTYPE html>
<html>
  <head>
    <title>Project1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= cloudinary_js_config %>
    <script src="https://kit.fontawesome.com/3309979211.js" crossorigin="anonymous"></script>

  </head>

    <body class="<%= params[:controller] %> <%= params[:action ] %>">

      <div class="top-container">
          <nav>
            <% if @current_user.present? %>
                <%= link_to "Home", "/posts" %>
                <%= link_to "Users", "/users" %>
                <%= link_to "Sign out #{ @current_user.email }", login_path, :method => 'delete' %>
            <% else %>
                <%= link_to "Home", "/" %>

                <%= link_to "Sign up", "/users/new" %>
                <%= link_to "Sign in", login_path %>
            <% end %>
          </nav>
      </div>

    <div class="container">

      <%= yield %>



    </body>


</html>
